doctype html
html
  head
  ul
    li
        a(href= '/Dad') Dad
    li
        a(href= '/Mom') Mom
    li
        a(href= '/Bikram') Bikram
    li
        a(href= '/Jagjit') Jagjit

    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content